
<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="form-group">
      <label for="Title">Title</label>
      <input [(ngModel)]="newPost.title" id="Title" class="form-control"/>
    </div>
    <div class="form-group">
      <label for="Body">Body</label>
      <textarea [(ngModel)]="newPost.body" name="Body" id="Body" cols="30" rows="2" class="form-control"></textarea>
    </div>
    <div *ngIf="!edit" class="button btn btn-primary btn-block" (click)="createPosts()">
      <i class="fa fa-plus"></i>
      Add new Post
    </div>
    <div *ngIf="edit" class="button btn btn-warning btn-block" (click)="putPosts()">
        <i class="fa fa-pencil"></i>
        Update  Post
      </div>
    <!-- {{ newPost | json }} -->
  </div>
</div>
<br>

<div class="row">
  <div class="col-md-4" *ngFor="let post of myPosts ; index as i" >
    <div class="card">
      <img class="card-img-top" src="https://placeimg.com/640/480/any" [alt]="post.title">
      <div class="card-body">
          <h4 class="card-title" >{{post.title}}</h4>
          <p class="card-text">{{post.body}}</p>
      </div>
    </div>
    <div class="card-footer text-center">
        <div class="button btn btn-warning" (click)=" editPost(post)" >
          <i class="fa fa-pencil"></i>
        </div>&nbsp;
        <div class="button btn btn-dark" (click)="deletePosts(i, post.id)">
            <i class="fa fa-trash"></i>
          </div>
    </div>
    
  </div>
</div>